# If you're using vhosts, you should have per-vhost server.document-root
#   settings too! Read how in the respective alternative vhost modules.

#$HTTP["host"] =~ "^social\.domain\.com$" {
    # NOTE: fastcgi/cgi/fpm config here if you're using per-user cgi/fpm

    dir-listing.activate = "disable"

# Make sure "mod_rewrite" is enabled in server.modules and change statusnet
#   to your statusnet directory. (uncommented line is for url root install)
# url.rewrite-if-not-file = ( "^/statusnet/(.*)$" => "/statusnet/index.php?p=$1" )
    url.rewrite-if-not-file = ( "^/(.*)$" => "/index.php?p=$1" )
#}
