@imp2ort url('./debug.css');

/* stuff we want to hide..... */

legend,.entry-content .source, .entry-content .location, .entry-content .response, #anon_notice, #notices_primary h2, #site_nav_local_views dt, #ft dt{ display: none !important; }

dl, dd { margin: 0 !important; padding: 0 !important;}

#yui-main { margin-bottom: 0 !important; padding-bottom: 0 !important;}

.notices { margin: 0; padding: 0; }
.notices li { list-style: none; }

#ft { padding-top: 12px;}

#custom-doc {  width:76.23em;*width:74.39em;min-width:991px; margin:auto; text-align:left; }

#yui-main { background-color: white; position: relative; }

#sidebar *, #right-nav * { background: none !important; border: none !important; }
  
   html, body{padding: 0; margin: 0;}

   body {background-image: url(/theme/gnusocial/bg.png) !important; background-repeat: repeat-x !important; background-color: white;}

   #hd h1 {margin: 0; line-height: 40px; font-size: 24px; font-weight: bold;}

   #hd h1 a{color: #111; text-decoration: none;}

   #hd dt {display: none;}

   #hd ul {padding: 0; margin: 0; line-height: 48px; position: absolute; top: 0; right: 10px; }

   #hd li {display: inline; list-style: none; margin-left: 12px;}

   #hd {height: 40px; position: relative;}


   form {margin: 0 auto; width: 70%;}

   table {width: 100%;}

   tr, td{border: 0;}

   .update-text{ font-size: 12px; font-weight: bold;}

   .update-icon{ text-align: center;}

    #stream li{list-style: none; position: relative; margin-top: 12px; }

    #stream dl {position: absolute; top: 0; left: 50px;}

    #stream dd {color: #333; font-size: 80%; padding: 0; margin: 0; margin-top: 6px;}


    #social {border-left: 1px solid #999; border-right: 1px solid #999; padding-left: 10px;}

    #sidebar ul{margin: 0; padding: 0;}

    #sidebar li {list-style: none;}

    #sidebar li a{display: block; width: 180px; padding: 4px;}

    #sidebar li a:hover {background-color: #ececec;}

    .selected {background-color: cyan; width: 180px;}

    #right-nav {background-color: #ececec;}

    #right-nav div {padding: 10px;}

    .form_notice { position: relative; top: 0; left: 0; }



form label.submit {
display:none;
}

.form_settings {
clear:both;
}

.form_settings fieldset {
margin-bottom:29px;
}
.form_settings input.remove {
margin-left:11px;
}
.form_settings .form_data li {
width:100%;
float:left;
}
.form_settings .form_data label {
float:left;
}
.form_settings .form_data textarea,
.form_settings .form_data select,
.form_settings .form_data input {
margin-left:11px;
float:left;
}
.form_settings .form_data textarea {
width:325px;
}

.form_settings .form_data input.submit {
margin-left:0;
}

.form_settings label {
margin-top:2px;
width:143px;
}

.form_actions label {
display:none;
}
.form_guide {
font-style:italic;
}

.form_settings #settings_autosubscribe label {
display:inline;
font-weight:bold;
}

#form_settings_profile legend,
#form_login legend,
#form_register legend,
#form_password legend,
#form_settings_avatar legend,
#newgroup legend,
#editgroup legend,
#form_tag_user legend,
#form_remote_subscribe legend,
#form_openid_login legend,
#form_search legend,
#form_invite legend,
#form_notice_delete legend,
#form_password_recover legend,
#form_password_change legend {
display:none;
}

.form_settings .form_data p.form_guide {
clear:both;
margin-left:155px;
margin-bottom:0;
}

.form_settings p {
margin-bottom:11px;
}

.form_settings input.checkbox {
margin-top:0;
margin-left:0;
}
.form_settings label.checkbox {
font-weight:normal;
margin-top:0;
margin-right:0;
margin-left:11px;
float:left;
width:90%;
}


#form_login p.form_guide,
#form_register #settings_rememberme p.form_guide,
#form_openid_login #settings_rememberme p.form_guide,
#settings_twitter_remove p.form_guide,
#form_search ul.form_data #q {
margin-left:0;
}

.form_settings .form_note {
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
padding:0 7px;
}


.form_settings input.form_action-primary {
padding:0;
}
.form_settings input.form_action-secondary {
margin-left:29px;
}

#form_search .submit {
margin-left:11px;
}
caption {
font-weight:bold;
}
legend {
font-weight:bold;
font-size:1.3em;
}
input, textarea, select, option {
padding:4px;
font-family:sans-serif;
font-size:1em;
}
input, textarea, select {
border-width:2px;
border-style: solid;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

input.submit {
font-weight:bold;
cursor:pointer;
}
textarea {
overflow:auto;
}
option {
padding-bottom:0;
}
fieldset {
padding:0;
border:0;
}
form ul li {
list-style-type:none;
margin:0 0 18px 0;
}
form label {
font-weight:bold;
}
input.checkbox {
position:relative;
top:2px;
left:0;
border:0;
}

.error,
.success {
padding:4px 7px;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
margin-bottom:18px;
}

#all .notice, #public .notice { padding-bottom: 12px;}

#all .notice .entry-title, #public .notice .entry-title { position: relative;}

#all .notice .entry-title .entry-content, #public .notice .entry-title .entry-content { position: absolute; top: 25px; left: 55px; }

#all .notice .entry-content .timestamp, #public .notice .entry-content .timestamp { color: #666; margin-left: 55px; font-size: 80%; text-decoration: none !important; }

abbr { border: 0px !important;  }

#all .entry-title .author .nickname, #public .entry-title .author .nickname { position: absolute; top: 0; left: 55px; font-weight: bold;  }

#showstream #i { position: absolute; top: 0; left: 0; background-color: white; z-index: 100; width: 185px; }


.notice-options, .form_favor .submit, .form_repeat .submit { background-color: white; border: 0; display: none !important; }

#form_notice { margin-top: 10px;}


label { display: none !important; }