/* IE specific styles */

input.checkbox,
input.radio {
top:0;
}

.form_notice textarea {
    width: 473px;
}

.threaded-replies .form_notice textarea {
    width: 395px;
}

.form_notice .form_note + label {
position:absolute;
text-indent:-9999px;
height:16px;
width:16px;
display:block;
    left: 390px;
    top: 27px;
}
.form_notice #notice_action-submit {
    width: 106px;
    max-width: 106px;
}

.form_notice .count {
    right: 52px;
}

#form_notice-direct.form_notice .count {
    right: 18px;
}

#form_notice-direct label {
    float: left;
}

#form_notice-direct select {
    margin-top: 0px;
    float: left;
}

.form_notice .error,
.form_notice .success,
.form_notice .notice-status {
    width: 468px; 
}

.notice-options input.submit {
font-size:0;
text-align:right;
text-indent:0;
}

.notice div.entry-content .timestamp a {
margin-right:4px;
}
.entity_profile {
width:64%;
}
.notice {
z-index:1;
}
.notice:hover {
z-index:9999;
}
.notice .thumbnail img {
z-index:9999;
}

.form_settings fieldset fieldset legend {
line-height:auto;
}

#site_nav_global_primary ul {
    margin-right: 0px;
}

#site_nav_local_views ul {
    list-style-type: none;
    list-style-position: outside;
}

.notice-options input.submit {
    color:#FFFFFF;
}

.form_notice input.notice_data-attach {
    filter: alpha(opacity=0);
}

.notice .addressees:before {
    content: '\003E';
}
