/* LTE IE6 styles */

#content {
    width: 520px;
}

#aside_primary {
    width: 220px;
}

#content h1 {
    clear: left;
}

address .fn {
    display: none;
}

#header-search {
    width: 240px;
}

#header-search input {
    height: 20px;
    font-size: 12px;
}

.entity_profile .entity_nickname,
.entity_profile .entity_location,
.entity_profile .entity_url,
.entity_profile .entity_note,
.entity_profile .entity_tags {
margin-left:0;
}
.entity_profile .entity_depiction {
margin-bottom:123px;
}
.entity_actions {
width:20%;
}

.notice div.entry-content {
    margin-left: 30px;
}

.notice-source-activity div.entry-content {
    margin-left: 0;
} 

.threaded-replies {
    margin-left: 30px;
}

#content .notice .threaded-replies .notice div.entry-content {
    margin-left: 18px;
}

.notice-options a {
width:16px;
}
