/* LTE IE7 styles */ 

#core {
    margin-top: 3px;
}

#header-search input[type="submit"] {
    padding-left: 20px;
}

.input_forms {
    margin-bottom: -20px;
}

.notice .addressees {
    background: url(../images/icons/arrow_right.png) no-repeat top left;
    padding-left: 16px;
}

#content .notice .threaded-replies .notice-data { 
    margin-left: 0px;
}
